{% extends 'index.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'base.css' %}">
<link rel="stylesheet" href="{% static 'panel/home.css' %}">
{% endblock  %}
{% block title %}
Home
{% endblock %}

{% block header %}
<h1 class="header__heading">KORMORAN</h1>
{% endblock %}

{% block content %}
<a class="link" href="{% url 'panel:tournament-list-view' %}">Tournaments</a>
{% if user.is_authenticated %}
{% if referee %}
    <a class="link" href="{% url 'panel:add-team-view' %}">Add Team</a>
    <a class="link" href="{% url 'panel:my-matches-view' %}">My matches</a>
    {% endif %}
    {% if it %}
    <a class="link" href="{% url 'panel:add-sport-view' %}">Add Sport</a>
    <a class="link" href="{% url 'panel:confirm-team-view' %}">Confirm Team</a>
    <a class="link" href="{% url 'panel:create-tournament-view' %}">Create Tournament</a>
    <a class="link" href="{% url 'panel:manage-tournament-view' %}">Manage Tournament</a>
    {% endif %}

    {% if user.is_superuser %}
    <a class="link" href="/admin">Admin Panel</a>
    {% endif %}
    <a class="link" href="{% url 'users:logout-view' %}">Log out</a>
{% else %}
    <a class="link" href="{% url 'users:login-view' %}">Sign In</a>
    <a class="link" href="{% url 'users:register-view' %}">Sign Up</a>
{% endif %}
{% endblock %}