{% extends 'index.html' %}

{% block title %}
Tournament Matches
{% endblock %}

{% block header %}
<a href="{% url 'panel:home-view'%}">Home</a>
<a href="{% url 'panel:tournament-list-view'%}">Back</a>
{% endblock %}

{% block content %}
<div>
    {% for match in  match_list %}
    <form action="" method="POST">
        {% csrf_token %}
        <div>
            <p>
                Match Data - status result itd...
            </p>
            {{ match }}
            {% if access and match.match.user == None %}
            <input type="hidden" name="match-id" value="{{match.match_id}}">
            <input type="submit" value="Start Match">
            {% endif %}
        </div>
    </form>
    {% endfor %}
</div>
{% endblock %}